footer {
    width: 100%;
    background-color: #5aba8d;
    padding: 10px;
    text-align: center;
}

footer span {
    color: #fff;
    font-size: 0.8em;
    font-weight: 500;
}
@media (min-width:320px) {
    footer {
        width:100% ;
    }
}

@media (max-width:1200px) {
    footer{
        width:100% ;
    }
}
